@import "tailwindcss";
@import "tw-animate-css";


:root {
  --font-inter: 'Inter', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-inter);
}

h1, h2, h3 {
  font-family: var(--font-poppins);
}
button, a {
  -webkit-tap-highlight-color: transparent;
}
/* Smooth section transitions */


.section-gradient-2 {
  background: linear-gradient(
    180deg,
    #000000 0%,
    #020617 40%,
    #312e81 100%
  );
}

.section-gradient-cta {
  background: radial-gradient(
    circle at top,
    rgba(236, 72, 153, 0.35),
    #000000 70%
  );
}
